.idea
.vs/
**/bin/
**/obj/
*.mgcb
*.temp
imgui.ini
.vscode/
**/**/editor_config.json
src/**/Content/Atlas
src/**/Content/data/Generated
src/**/Content/data/Save
src/**/Content/*.log
*.user
lfs/
hooks/
docs/playbook/book
